.side-navbar {
    height: 100%;
    position: fixed;
    width: 200px;
    padding: 30px;
    
    justify-content: center;

    border: 1px solid hsl(0, 0%, 86%);
    border-top: none;
    border-bottom: none;
}
.side-navbar a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #333;
}
.side-navbar a:hover {
  color: #000;
}